.menu{
    background-color: #fff;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 70px;
    padding-left: 20px;
box-sizing: border-box;
}
.itemspadre{
    display: flex;
    justify-content: space-around;

}
.items{
    margin-left: 20px;
    font-size: 23px;
}
img{
    width: 50px;
    height:70%;
    border-radius: 20px;
    transition-duration: 1s;}

.derecha > img:hover{
    width: 105%;
    height: 105%;
    box-shadow: none;
    
}

h2{
    
    color: #313840 ;
    margin-top: 20px;
    font-style: italic;
    font-weight: 500;
    align-self: center;
    line-height: 1.2;
    margin-bottom: 30px;
}

.items{
    background-color: #369;
    padding:5px 25px 5px 25px ;
    border-radius: 15px;
    font-size: 19px;
    color: white;
    cursor: pointer;
}


.seccion2{
    background-color: #f2f2f2;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

*{
    margin: 0;
    padding: 0;
}
.contenedor2{
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #ffffff;;
    margin-top: 50px;
    padding-bottom: 40px;
    
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3)
   
}
.izquierda{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    justify-content: center;

}
.derecha{
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 150px 150px;
  
    border-radius: 0;
    padding-top: 10px;
    gap: 20px;
}
.derecha > img{
width: 100%;
height: 100%;
border-radius: 0;
box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
h1{
    align-self: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
ul {
    padding: 0;
    list-style-position: inside;
    margin: 0;
    list-style-image: none; /* Asegúrate de desactivar cualquier lista con imagen */
}

li {
    padding: 0;
    margin: 5px;
    margin-bottom: 10px;
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

ul li {
    list-style-type: none;
    background-image: url('paloma2.jfif');  
    background-repeat: no-repeat;
    background-position: 0 5px;
    background-size: 20px 20px;  
    padding-left: 30px;  
}

.padre-derecha{
    display: flex ;
    justify-content: end;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.dd{
    margin-bottom: 5px;
}

.dos-boton{
    
    background-color: #313840;
    border:none;
    border-radius: 5px;
    width: 50%;
    height: 50px;
    color: white;
    margin-top: 60px;
    font-size: 20px;
    cursor: pointer;
    margin-left: 30px;
}




.seccion3{
    min-height: 100%;
    margin-bottom: 70px;
    width: 100%;
    background-color: #FFFFFF;
}

.seccion3-h1 >h1{
    font-size: 55px;
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;


}

.seccion3-h1{
    display: flex;
    width: 100%;
 
    justify-content: center;
}


.contenedor4{
    width: 80%;
    height: 550px;
    gap: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.items-contenedor4{
    background: linear-gradient(to right, #000577, #5E09E9);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: show 2s ease 0s 1 forwards;
    
}

.contenedor4-hijo{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    
    
}

.contenedor4-hijo > img{
width: 50%;
height: 100px;    
}

.contenedor4-hijo >p{
    color: white;
    
    
}
.contenedor4-hijo >button{
    width: 70%;
    height: 30px;
    
    border: none;
    border-radius: 10px;
    color: #824487;
    font-weight: 800;
    font-size: 1.2rem;
  
}

.contenedor4-hijo >button:hover{
    background-color: #e2dfdf;
}

.lorem{
 font-weight: 400;   
 font-family: 'Courier New', Courier, monospace;
}
button{
    cursor: pointer;
}
.abajo >h1{
    margin-left: 50px;
    margin-bottom: 30px;
}

.abajo-derecha{
    width: 100%;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.abajo-derecha > button{
    width: 40%;
    height: 45px;
    background-color: #C9302C;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    color: white;
}
.especial{
    height: 115%;
    margin-top: -7.5%;
}

.ventana{
    width: 35%;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    
}
.cuatro{
    background-color: black;
    opacity: 0.5;
}
.contacto{
    width: 100%;
    height: 10%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: 5px;
}

.salir{
    color: #000;;
    font-weight: 0;
    font-size: 33px;
    background-color: none;
    border: none;
    font-family: 'Courier New', Courier, monospace;
}

.contenedor-formulario{
    margin-top: 20px;
    width: 100%;
    height: 86%;
}

form{
    width: 100%;
    height: 100%;

}

.hijo-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: auto;
}

.input1{
height: 40px;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: var(--bs-body-color);
background-color: var(--bs-body-bg);
background-clip: padding-box;
border: 3px solid #d0d3d6;
border-radius: 5px;
grid-column-start: 1;
grid-column-end: 3;
box-sizing: border-box;
}

.hijo-form > input{
    
height: 40px;
width: 100%;
padding: .375rem .75rem;
font-size: 1rem;
font-weight: 400;
line-height: 1.5;
color: var(--bs-body-color);
background-color: var(--bs-body-bg);
background-clip: padding-box;
border: 3px solid #d0d3d6;
border-radius: 5px;
box-sizing: border-box
}

.email{
    margin-top: 10px
}
a{
 
        text-decoration: none !important;
        border: none !important; 
    
    
}

.logo:hover{
    transform: rotate(180deg);
}


@media screen and (max-width: 1300px) {
    .derecha {
        grid-template-columns: 50% 50%;
    }

}

.items-contenedor4 {
    animation: show 1s ease forwards;
    animation-timeline: scroll-anim;
    opacity: 0;
    transform: scale(0.25);
}

@keyframes show {

    
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.items-contenedor4 {
    view-timeline-name: --image;
    view-timeline-axis: block;
    animation-timeline: --image;
    animation: show 2s ease forwards;

}


@media screen and (max-width: 850px) {
    .contenedor2, .contenedor4 {
        grid-template-columns: 1fr;
    }
    .contenedor4, .items-contenedor4{
        height: auto;
        padding-bottom: 30px;
        box-sizing: content-box;
    }
    .contenedor4-hijo > button{
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .derecha{
        grid-template-columns: 1fr;
    }
    .h1-sec3{
        font-size: 21px !important;
    }
    .itemspadre{
        display: none;
    }
    .contenedor2{
        width: 90%;
        padding-left: 10px;
        padding-right: 10px;
    }
    .contenedor4-hijo >button {
        height: 80px !important;
    }
}
